altgraph==0.17.4
-e git+https://github.com/georgetoloraia/bitcoin.git@5c8f598c20eb35f4d1ce1ac4260c743c2dd60a2d#egg=bitcoin
-e git+https://github.com/georgetoloraia/bitcoin.git@5c8f598c20eb35f4d1ce1ac4260c743c2dd60a2d#egg=bitcoinpy
blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
protobuf==5.29.2
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
requests==2.32.3
setuptools==75.6.0
urllib3==2.3.0
Werkzeug==3.1.3
